{
  "extends": "airbnb-typescript",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": "*.js",
  "rules": {
    "max-len": "off",
    "react/jsx-props-no-spreading": "off",
    "import/prefer-default-export": "off",
    "react/require-default-props": "off",
    "react/button-has-type" :"off",
    "react/default-props-match-prop-types": "off"
  }
}