@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #8B5CF6;
  border: 0px none #4C1D95;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7C3AED;
}
::-webkit-scrollbar-thumb:active {
  background:#5B21B6;
}

::-webkit-scrollbar-track {
  background: #111827;
  border: 0px none #111827;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #111827;
}

::-webkit-scrollbar-track:active {
  background: #111827;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.DraftEditor-root h1 {
  @apply font-bold text-4xl;
}

.DraftEditor-root h2 {
  @apply font-medium text-3xl;
}

.DraftEditor-root h3 {
  @apply font-medium text-2xl;
}

.DraftEditor-root h4 {
  @apply font-medium text-xl;
}

.DraftEditor-root h5 {
  @apply text-xl;
}

.DraftEditor-root h6 {
  @apply text-lg;
}

.DraftEditor-root blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  @apply text-gray-600 bg-gray-300 border-l-8 border-gray-900 py-3 px-2 m-2;
}

.DraftEditor-root blockquote:before {
  content: open-quote;
  font-size: 4rem;
  line-height: 0.1rem;
  vertical-align: -0.4em;
  @apply mr-1;
}
.DraftEditor-root blockquote p {
  @apply inline;
}

.DraftEditor-root ul {
  @apply list-disc ml-5;
}

.DraftEditor-root ol {
  @apply list-decimal ml-5;
}
